tr{
    height: max-content;
}
.mat-column-id {
    width: 50px;
}
.mat-column-description {
    width:70%
}
.mat-column-name {
    width:10%;
}
.mat-column-powers {
    width:10%;
}
.actions-container {
    display: inline-flex;
}
.warning-color{
    color: rgb(202, 2, 2);
}